<style>
    .container {
        padding: 50px;
        border-radius: 20px;
        border: 5px solid #444;
        margin: 100px;
        color: #fff;
        background-color: #333;
        text-align: center;
    }
</style>

<div class="container">
    <h3>Последнее вычисление:</h3>
    <p>A: <%= @result.a %></p>
    <p>Created: <%= @result.created_at %></p>
    <%= link_to "Повторить", :number_input %>
</div>