<div style="width: 500px; padding: 20px; border-radius: 15px; margin: 100px auto; background: #adf; text-align: center; box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5);">
    <h3>Последнее вычисление:</h3>
    <p>N: <%= @result.n %></p>
    <p>A: <%= @result.a %></p>
    <p>Created: <%= @result.created_at %></p>
    <%= link_to "Повторить!", :number_input %> 
</div>